extends ../layout

block content

  h1= list.dataValues.name
  h2= list.dataValues.type

  h2 Creating a new book
      form(action="/lists/" + list.id + "/books", method="post")
        input(type="text", placeholder="title", name="title")
        input(type="text", placeholder="author", name="author")
        input(type="submit")

  h2 Search for a book to add
      form(action="/lists/" + list.id + "/books/search", method="post")
        input(type="text", placeholder="title", name="title")
        input(type="text", placeholder="author", name="author")
        input(type="submit")

  h3 Books in #{list.dataValues.name}
    ul
    each book in books
      if book
        li: a(href="/lists/" + list.dataValues.id + "/books/" + book.dataValues.id)= book.dataValues.title + " by " + book.dataValues.author
      else
        p No books in this list

    p Update this list
    form(action="/lists/" + list.dataValues.id, method="post")
      input(type="hidden", name="_method", value="put")
      input(type="text", value="#{list.dataValues.name}", name="name")
      input(type="text", value="#{list.dataValues.type}", name="type")
      input(type="submit" value="Update")

    //- p Delete this list
    //- form(action="/lists/" + list.dataValues.id, value="post")
    //-   input(type="hidden", name="_method", value="delete")
    //-   input(type="submit" value="Delete")